.cards {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 80px;
}

.card img {
  height: 100px;
}

.card {
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  text-align: center;
  width: 200px;
  padding: 20px;
}

 .card h3 {
  color: #274855;
}

.card p {
  color: #76857f
}

.container h2 {
   padding-top: 20px;
}

